.App-header {
  font-family: "marigny", sans-serif;
  text-align: center;
}

.App-header h1 {
  font-weight: 500;
  font-size: 60px;
  margin: 20px;
}

.App-header h4 {
  font-size: 36px;
  font-weight: 400;
  margin: 20px;
}
.App-footer {
  font-family: "marigny", sans-serif;
  font-size: 14px;
  text-align: center;
  margin: 20px 0;
}
